<div class='all-pages-contenu'>


	<div class='reseau-all'>
		<div class="reseau">
			<div class="reseau-txt">
				<h1> Un réseau d'ampleur nationale  </h1>
			
				Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, 
				quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, 
				in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.
				</br></br>
				Quid? qui se etiam nunc subsidiis patrimonii aut amicorum liberalitate sustentant, hos perire patiemur? 
				An, si qui frui publico non potuit per hostem, hic tegitur ipsa lege censoria; quem is frui non sinit, qui est, 
				etiamsi non appellatur, hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, 
				de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet, quod ille vos tristia voltuque deceperit, 
				ipse numquam se minus quam erat, nequam esse simularit. Piso autem alio quodam modo gloriatur se brevi tempore perfecisse, 
				ne Gabinius unus omnium nequissimus existimaretur.
				</br></br>
				Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas, 
				cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque 
				Seleucia iam inde a primis auspiciis florentissimae.
			</div>
		</div>
		
		<div class="encadre-reseau">
			<div>Lorem ipsum fertur neminem aliquando ob haec vel similia poenae</div>
			
			<div class="btn">
				<a href="/contactez-nous" class="default-btn secondary-color">{{ "Trouver un artisan"|t }}</a>
			</div>
	
		</div>
		
		
		
		
		
	<div class="kg-flex-img">
		<div class="img-1">
			<img src="{{ base_path ~ directory }}/images/reseau1.jpg" />
			Entreprise Dominique Le Huitouze dans le Morbihan
		</div> 
		<div class="img-2">
			<img src="{{ base_path ~ directory }}/images/reseau2.jpg" /> 
			Entreprise Bedouret et Haute-Garonne		
		</div> 
		<div class="img-3">
			<img src="{{ base_path ~ directory }}/images/reseau3.jpg" /> 
			Entreprise Jean Jacques Bonaldo dans le Gers		
		</div> 
	</div>
	
		
		<div class='all-pages-para'>
			<h1> Comment adhérer au réseau Ker Gafa en tant qu'artisan ?</h1>
			Pour être adhérent, il faut avant tout être un bon professionnel du bâtiment, 
			avoir la passion de son métier, être à l’écoute de ses clients, l’accompagner dans ses choix esthétiques, 
			dans son budget, répondre aux attentes techniques… Ker Gafa accompagne les adhérents à cette exigence.
			</br>	</br>
			Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas, 
			cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque 
			Seleucia iam inde a primis auspiciis florentissimae.
			</br>	</br>
			Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento 
			temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.
		</div>
	</div>
</div>