<div class="logo-kg">
	<img src="{{ base_path ~ directory }}/images/kg.png" /> 
</div>
<div class="newsletter">
	Newsletter : Ne manquez plus les dernières infos Ker GAFA
	<div class="adresse">
		<input type="text" placeholder="Votre adresse mail" />
		<button class="default-btn secondary-color btn-news" > OK </button>
	</div>
</div>

<div class="kergafa">
	Ker Gafa, pensé, crée, géré, animé… par des artisans, pour répondre aux réels besoins de leur structure, 
	de leurs clients, ceci par rapport au marché d’aujourd’hui,  tous ensemble nous serons plus fort. 
	Enfin, un vrai réseau national de professionnels à votre service.
</div>

<div class="gl-copy">

	© 2021 Ker Gafa - Tous droits réservés - Photos non contractuelles - <a href="/"> Mentions légales </a>  -  <a href="/"> CGV  </a>   
  	<img src="{{ base_path ~ directory }}/images/gl-mini.png" /> 
	Grouplive - Agence de création de sites Internet

</div>
